<script>
    import draggable from 'vuedraggable'

    export default {
        components: {
            draggable,
        },
        data() {
            return {
                newZoo: [],
                zoo: [
                    {id: 1, name: 'Слон', imgPath: '/img/animals/elephant.svg'},
                    {id: 2, name: 'Фламинго', imgPath: '/img/animals/flamingo.svg'},
                    {id: 3, name: 'Обезьяна', imgPath: '/img/animals/monkey.svg'},
                    {id: 4, name: 'Хамелеон', imgPath: '/img/animals/chameleon.svg'},
                    {id: 5, name: 'Лошадь', imgPath: '/img/animals/horse.svg'},
                ]
            }
        }
    }
</script>
<template>
    <div class="wrapper">
        <h2 class="page-title">
            Заполните новый зоопарк,
            с помощью метода перетаскивания!
        </h2>
        <div class="columns-wrapper">
            <div class="column">
                <h3 class="column-title">
                    Новый зоопарк
                </h3>
                <div class="column-tip">
                    Перетаскивать сюда
                </div>
                <draggable :list="newZoo"
                           class="column-list"
                           group="animals">
                    <transition-group>
                        <div v-for="element in newZoo"
                             :key="element.id"
                             class="column-list__item">
                            <img :src="element.imgPath"
                                 :alt="element.name"
                                 width="100px"
                                 height="100px">
                        </div>
                    </transition-group>
                </draggable>
            </div>
            <div class="column">
                <h3 class="column-title">
                    Зоопарк
                </h3>
                <div class="column-tip">
                    Перетаскивать сюда
                </div>
                <draggable :list="zoo"
                           group="animals"
                           class="column-list">
                    <transition-group>
                        <div v-for="element in zoo"
                             :key="element.id">
                            <img :src="element.imgPath"
                                 :alt="element.name"
                                 width="100px"
                                 height="100px">
                        </div>
                    </transition-group>
                </draggable>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .page-title {
        margin: 30px 0;
    }

    .columns-wrapper {
        display: flex;
        margin: 30px 0;
    }

    .column {
        width: 500px;
        max-width: 100%;
        border: 1px solid #c1c1c1;
        box-shadow: 0px 1px 5px #c1c1c1;
        padding: 20px;

        &:first-child {
            margin-right: 30px;
        }
        &-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            min-height: 100px;
            span {
                min-height: 200px;
            }
        }
        img {
            cursor: move;
        }
        &-title {
            padding-bottom: 30px;
        }
        &-tip {
            margin-top: 10px;
            padding-bottom: 30px;
            font-size: 12px;
        }
    }
</style>