<script>

    export default {
        name: "app",
        data() {
            return {
                message: "Hello"
            };
        }
    };
</script>

<template>
    <div class="container">
        <router-view></router-view>
    </div>
</template>

